body         {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.6;
    font-family: Arial, helvetica, sans-serif;
    overflow-x: hidden;
}
#wrapper     {
    position: relative;
    width: 100%;
    min-height: 55vw;
    overflow: hidden;
}
.layer        {
   position: absolute;
   width: 100vw;
    min-height: 55vw;
    overflow: hidden;
    
}
.layer .content-wrap{
    position: absolute;
    width: 100vw;
    min-height: 55vw;
}
.layer .content-body{
    width: 25%;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    z-index: 4;
}
.layer img            {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.layer h1             {
    font-size: 2em;
}
.bottom    {
    z-index: 1;
}
.bottom .content-body    {
    right: 5%;
    color: #fff;
    background: rgba(0,0,0,0.4);
}

.bottom h1     {
    color: #fda800;
}
.top    {
    z-index: 2;
    width: 50vw;
}
.top .content-body{
    background: rgba(255,255,255,0.2);
    left: 5%
}
.handle     {
    position: absolute;
    height: 100%;
    display: block;
    background-color: #fda800;
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3
}
.skewed .handle{
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    transform-origin: top;
}
.skewed .top    {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}
.skewed .top .content-wrap{
    transform: skewX(30deg);
    margin-left: 1000px
}
.nav        {
    height: 8vh;
}
.fab    {
/*
    width: 30%;
    margin: auto;
*/
    color: #fda800;
}
@media(max-width:768px){
    body{
        font-size: 75%;
    }
}
@media(max-width:560px){
    body{
        font-size: 50%;
    }
}
@media(max-width:350px){
    body{
        font-size: 25%;
    }
}

                /*////////////////////////////
                About me section
                ////////////////////////////*/
#about         {
    margin-top: 15px;
    background: 
}
.about        {
    text-decoration: underline;
}


.item {
		box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05);
		margin-bottom: 40px;
}
.item header {
			background: #fff;
			margin: 0;
			padding: 1em 0 1em 0;
			font-size: 0.8em;
}

.item header h3 {
				font-size: 1em;
}
.form         {
    background: #fff4c4;
    margin-top: 35px;
}
footer {
    background: #333;
    color: #fff;
    margin-top: 15px;
}









